{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<main>
    <!-- Title image -->
    <section class="py-2 text-center container-fluid bg-danger" style="background-image: url(https://static.igem.wiki/teams/4323/wiki/umanitobazebra.jpg);" >
        <div class="row my-5 pt-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-1 pt-1">Attribution</h1>
            <p class="lead medium-importance"></p>
          </div>
        </div>
      </section>


      <!-- Project Conceptualization  -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Project Conceptualization </h5>
        
          <hr>
          <p class="offset-1 col-10">The brainstorming for this project involved all members of team UManitoba! Special thanks goes out to the aquactic invasive species specialists that advised us, they signficantly impacted our ideation and design. We would also like to thank iGEM alumni Kristi Turton for her advice with FitD. For more infromation go to the Human Practices section.</p>
  
        </div>
      </div>

      <!-- Biological Design - Protmoters and General Assembly  -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Biological Design - Promoters and General Assembly</h5>
          <p class="col-10">Team members who scoured the registry, placed synthesis orders or otherwise dealt with the nitty-gritty of DNA design</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Cindy Atayan</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Shaylyn Pelikys</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Camille Prefontaine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Huy Luu</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Kevin Lim</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lam Chew Tun</p>
        </div>
      </div>

      <!-- Biological Desing - Toxins  -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Biological Design - Toxins</h5>
          <p class="col-10">Including homology models and molecular simulation</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Kevin Lim</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Chun Hin Wong</p>      
        </div>
      </div>

      <!-- iBioSym Models  -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">iBioSym Models</h5>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Kevin Lim</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Chun Hin Wong</p>      
        </div>
      </div>

      <!-- Wet Lab  -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Wet Lab</h5>
          <p class="col-10">Fluorescence  titrations, excel sheets, PCR, transformations... The daily routines that all synthetic biology is built on</p>
          <hr>
          <p class=" col-10 my-2 paragraph-default lead">The wetlab work for this project involved all members of team UManitoba!</p>

        </div>
      </div>

        <!-- Lab Maintenace and Supervision -->
        <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Lab Maintenance and Supervision</h5>
          <p class="col-10">Keeping tips stocked, reagents full and assisting with techniques</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Huy Luu</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Chun Hin Wong</p>      
        </div>
      </div>

      <!-- Fundrasing -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Fundraising</h5>
          <p class="col-10">Applying for grants, getting invitations to biotech meetups and whatever else it took to keep the fridge stocked and tip boxes full</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Huy Luu</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Cindy Atayan</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lam Chew Tun</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Nedilijko Budisa</p>            
        </div>
      </div>

      <!-- Human Practices-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Human Practices</h5>
          <p class="col-10">Aranging meetings with local experts, policy advisors and those doing field work to slow zebra mussels</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Kevin Lim</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Roman Song</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Antonella Abbott</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>           
        </div>
      </div>

      <!-- Communications-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Communications</h5>
          <p class="col-10">Helping to integrate UManitoba iGEM into the local and international synthetic biology community and sharing the iGEM excitement with Manitoba high school students</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lamb Chem Tun</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Camille Prefontaine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>           
        </div>
      </div>

      <!-- Partnership-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Partnership</h5>
          <p class="col-10">Team members who contributed most significantly to the UManitoba and UNILausanne partnership</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lam Chew Tun - arranged partnership !</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Huy Luu</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>        
        </div>
      </div>

      <!-- iGEM Promotional Video-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Promotional Video</h5>
          <p class="col-10">Shooting and editing the 2 minute promotional video</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Cindy Atayan</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Camille Prefontaine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lam Chew Tun</p>            
        </div>
      </div>

      <!-- Collaboration-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Collaboration Lethbridge_HS</h5>
          <p class="col-10">Shooting and editing the 2 minute promotional video</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Jessica Marinelli</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Huy Luu</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Hans-Joachim Wieden</p>            
        </div>
      </div>

        <!-- Wiki -->
        <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Wiki</h5>
          <p class="col-10">Not the content, which has already been attributed, just the coding</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>
        </div>
      </div>

      <!-- Social Media-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Social Media</h5>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Briana Lam Chew Tun</p>
        </div>
      </div>

      <!-- Photography and Original Artwork-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Photography and Original Artwork</h5>
          <p class="col-10">All graphical elements other than scientific figures were produced by one individual</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Shaylyn Pelikys</p>
        </div>
      </div>

      <!-- Administration-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Administration</h5>
          <p class="col-10">Planning, banking, plane tickets, filling out forms...</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Alexandre Prefontaine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Hans-Joachim Wieden</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Nedilijko Budisa</p>
        </div>
      </div>

      <!-- Lab Space-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Lab Space & Meeting Space</h5>
          <p class="col-10">The space was generously loaned to team UManitoba by the Biochemistry Lab-coordinators and the University of Manitoba</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Ellert Nichols</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Toukoure Assomatine</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Ms. Gipsy Luis Ruesta</p>
        </div>
      </div>

        <!-- Honorable Mentions-->
        <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Honorable Mentions</h5>
          <p class="col-10">Individuals that contributed time or advice to UManitoba iGEM</p>
          <hr>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Brian Mark - Supporter of UManitoba iGEM 2022</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Sean Mckenna - Supporter of UManitoba iGEM 2022  </p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Dr. Hamidreza Karbalaeiheidari - Molecular Biology Advice </p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Harjasmin Mander - Administrative Advice, Presentation Advice and Uniforms</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Karmen Ciltz - Fouding Member</p>
          <p class=" offset-1 col-10 my-2 paragraph-default lead">Tasnim Raham</p>
        </div>
      </div>
      
</main>

{% endblock %}
