{% extends "layout.html" %}
  
{% block title %}Partnership{% endblock %}
{% block lead %}Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects.{% endblock %}

{% block page_content %}

<main>
    <!-- Title image -->
    <section class="py-2 text-center container-fluid bg-danger" style="background-image: url(https://static.igem.wiki/teams/4323/wiki/umanitobazebra.jpg);" >
        <div class="row my-5 pt-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-1 pt-1">Partnership</h1>
            <p class="lead medium-importance">UNILausanne</p>
          </div>
        </div>
      </section>


      <!-- PartnerShip Origin Story -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Partnership Origin Story</h5>
          <hr>
          <p class="offset-1 col-10">The UManitoba team is based in the University of Manitoba, Canada. We develop bio-based solutions to tackle the invasion of zebra mussels (<em>Dreissena polymorpha</em>) in Lake Winnipeg and Lake Manitoba in Manitoba, Canada. In particular, we aim to develop a genetic construct that can sense zebra mussels and express toxins to kill them with minimal release of toxins to the environment. </p>

          <p class="offset-1 col-10">The UNILausanne team is based in the University of Lausanne, Switzerland. They aim to tackle the invasion of quagga mussels (<em>Dreissena rostriformis bugensis</em>) in water bodies in Switzerland.  In details, they aim to produce an antifouling chemical (zosteric acid) to prevent attachment of quagga mussels and a toxin (FitD) to kill quagga mussels. Our two teams developed our projects independently from each other. This fact highlights the massive scale of problems posed by invasive mussel species to water bodies around the world. As zebra and quagga mussels tend to simultaneously invade water bodies, it is very clear that our projects complement each other very well and thus, a formal partnership is formed.</p>

          <div class="row pt-3">
            <div class="col">
              <img  class="offset-2 col-7 img-thumbnail" src="https://static.igem.wiki/teams/4323/wiki/unil-partner-ship/first-meeting-with-unil.png">
              <p class="offset-2 col-9 mt-1 mb-5">Figure 1. Our first meeting with UNILausanne, 9:00am Winnipeg time and 5:00pm Switzerland time. </p>
            </div> 
          </div>
          
  
        </div>
      </div>

      <!-- My enemies enemy -->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">A Joint Problem</h5>
          <hr>

          <div class="row pt-3">
            <div class="col">
              <img  class="offset-2 col-7 img-thumbnail" src=" https://static.igem.wiki/teams/4323/wiki/unil-partner-ship/quagga-mussels-manitoba.png">
              <p class="offset-2 col-7 mt-1 mb-5">Figure 2. Distribution map of zebra and quagga mussels in the U.S.A by 2014. Figured taken from “Aquatic Invasions! A Menace to the West. Species Guide: Zebra and Quagga Mussels”. Map produced by the U.S. Geological Survey, Nonindigenous Aquatic Species Database, October 23, 2014. </p>
            </div> 
          </div>
          
          <p class="offset-1 col-10">Similarity:</p>
          <p class="offset-1 col-10">
            Zebra mussels (<em>Dreissena polymorpha</em>) and quagga mussels (<em>Dreissena rostriformis bugensis</em>) are considered to be among the most aggressive freshwater invasive species. They tend to spread together. They are filter feeders. They can both form byssal threads to attach to surfaces although with different strengths. They have a high capacity for reproduction. 
            </p>

            <p class="offset-1 col-10">Difference:</p>
            <p class="offset-1 col-10">
              Although both mussels can invade many water bodies aggressively, zebra mussels and quagga mussels have some differences in their spread pattern. While zebra mussels can spread quickly and widely to many water bodies, quagga mussels can impact an invaded water body more profoundly after invasion. Due to their stronger byssal threads, zebra mussels can bind more tightly to boats and surfaces and thus, are more likely to be transported from one location to another. While zebra mussels take, on average, 2.5 years to reach maximum population size, quagga mussels take 12.2 years.  
              </p>
            
            <p class="offset-1 col-10">
              Therefore, it is often observed that within the same water body, invasion by zebra mussels tend to precede to invasion by quagga mussels. By 2008, zebra mussels was estimated to colonize over 15 times more water bodies than quagga mussels in the U.S.A. However, over time, quagga mussels tend to outcompete zebra mussels. This is hypothesized to be due to quagga mussels have higher efficient use in energy to grow and reproduce and they can reproduce at low temperature in deep water, unlike zebra mussels. While zebra mussels are more adapted to colonize shallow water (littoral zone), quagga mussels colonize both shallow and deep water (profundal zones). Therefore, within the same water bodies, quagga mussels tend to have a larger population size than zebra mussels and thus, can have a more profound effect on the ecosystem.  
              </p>

        </div>
      </div>

      <!-- Our joint plan-->
      <div class="row mx-auto col-sm-10 border border-dark rounded bg-light shadow mt-5 mb-5">
        <div class="col mt-2">
          <h5 class="display-6 medium-importance">Joint Objectives</h5>
          <hr>
          
          <p class="offset-1 col-10">Our partnership focuses on the detection and testing of toxins. The UManitoba team has two toxins to test: Aerolysin and a truncated FitD while the UNILausanne has a full-length FitD and FitG. Through our partnership, we hope to achieve the following goals:</p>

          <p class="offset-2 col-9">-	Comparison of expression and toxicity between two versions of FitD: Both teams derive FitD from Pseudomonas protegens, a naturally occurring bacteria. While the UNILausanne team obtains a full-length FitD (~ 3000 amino acids) from the genome of P. protegens, the UManitoba team uses bioinformatics modelling to design and synthesize a truncated FitD (~914 amino acids), which contains mostly transmembrane domains. </p>
          <p class="offset-2 col-9">- Test of toxicity and expression of Aerolysin and FitG.</p>
          <p class="offset-2 col-9">- Comparison organism chassis for toxin expression: Escherichia coli vs P. protegens</p>
          <p class="offset-2 col-9">- Provide insight and feedback to improve our designs for future development and deployment.</p>

          <p class="offset-1 col-10">Throughout the summer, we have several meetings via Zoom to exchange ideas and technical information. After exchanging genetic constructs and experimental protocols, we proceed to do experiments, exchange data, interpretation, and provide feedback.</p>
        </div>
      </div>
</main>
  

{% endblock %}
