{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<main class="team-background">

  <section class="py-5 text-center container-fluid leading-image-big" style="background-image: url(https://static.igem.wiki/teams/4323/wiki/team-trees.jpg);" >
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light display-1 text-warning">Meet the Team</h1>
      </div>
    </div>
  </section>


  <!-- Circles -->
  <div class="container marketing py-5">
    <div class="row">

      <div class="col-lg-4 single-photo">
        <img class="rounded-circle team-picture" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/alex.jpg" aria-label="Team photo">
        <h2>Alexandre Prefontaine</h2>
        <h4>Team Leader</h4>
        <h6>Area of study: 5th year biochemistry student </h6>
        <p>Why I joined iGEM: I came across an iGEM project for magnetic bacteria and knew immediately that I had to be a part of this!</p>
      </div><!-- End of Alex-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/antonella.jpg" aria-label="Team photo">
          <h2>Antonella Abbott</h2>
          <h4>Wet Lab</h4>
          <h6>Area of study: 2nd year biology and statistics double major student</h6>
          <p>Why I joined iGEM: I am very interested in the field of synthetic biology and believe it is a great way to gain more experience in the lab and to become involved. </p>
      </div><!-- End of Antonella-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/briana.jpg" aria-label="Team photo">
          <h2>Briana Lam Chew Tun</h2>
          <h4>Wet Lab + Media</h4>
          <h6>Area of study: 5th year microbiology major and anthropology minor student </h6>
          <p>Why I joined iGEM: My growing interest in synthetic biology and genetic engineering.</p>
      </div><!-- End of Briana-->

      <div class="col-lg-4 single-photo">
        <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/camille.jpg" aria-label="Team photo">
        <h2>Camille Prefontaine</h2>
        <h4>Wet Lab + Education</h4>
        <h6>Area of study: 3rd year Molecular biology student</h6>
        <p>Why I joined iGEM: I wanted to have an opportunity to develop molecular biology skills and learn from like-minded peers.</p>
      </div><!-- End of Camille-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/cindy.jpg" aria-label="Team photo">
          <h2>Cindy Atayan</h2>
          <h4>Wet Lab + Video</h4>
          <h6>Area of study: B.Sc.in microbiology </h6>
          <p>Why I joined iGEM: As an opportunity to collaborate with other students on a project that aims to solve real-world problems.  Participating in iGEM has enhanced my appreciation for synthetic biology, genetic engineering, and microbiology.</p>
      </div><!-- End of Cindy-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/huy.jpg" aria-label="Team photo">
          <h2>Huy Luu</h2>
          <h4>Instructor</h4>
          <h6>Area of study: 1st year Chemistry M.Sc.</h6>
          <p>Why I joined iGEM: I want to hop on the synthetic biology bandwagon and spread synthetic biology to a wider community! </p>
      </div><!-- End of Huy-->

      <div class="col-lg-4 single-photo">
        <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/jessica.jpg" aria-label="Team photo">
        <h2>Jessica Marinelli</h2>
        <h4>Wet Lab + Modelling </h4>
        <h6>Area of study: 5th year Biochemistry student </h6>
        <p>Why I joined iGEM: To gain laboratory experience and improve my overall understanding on the research process as a whole. </p>
      </div><!-- End of Jessica-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/kevin.jpg" aria-label="Team photo">
          <h2>Kevin Lim</h2>
          <h4>Wet Lab + Modelling</h4>
          <h6>Area of study: 4th year Biochemistry Honours student </h6>
          <p>Why I joined iGEM: I really want to gain more lab experience.  I feel this is an area that I need improvements on, and believe iGEM can help me grow as a scientist.</p>
      </div><!-- End of Kevin-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/mike.jpg" aria-label="Team photo">
          <h2>Chun Hin Wong (Mike)</h2>
          <h4>Instructor</h4>
          <h6>Area of study: B.Sc. Biochemistry (Honours), currently working on Ph.D</h6>
          <p>Why I joined iGEM: To extend the network in the science community and compete with teams around the world, contribute to the development of synthetic biology, and build biological systems.</p>
      </div><!-- End of Mike-->

      <div class="col-lg-4 single-photo">
        <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/roman.jpg" aria-label="Team photo">
        <h2>Roman Song</h2>
        <h4>Wet Lab</h4>
        <h6>Area of study: 1st year Microbiology/Intro to U1 student </h6>
        <p>Why I joined iGEM: I have an interest in genetic engineering and biotechnology as a whole.</p>
      </div><!-- End of Roman-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/shaylyn.jpg" aria-label="Team photo">
          <h2>Shaylyn Pelikys</h2>
          <h4>Wet Lab + Wiki</h4>
          <h6>Area of study: 5th-year Biological Sciences student with a focus in ecology (minor in geological sciences and physics & astronomy) </h6>
          <p>Why I joined iGEM: The innovative framework that synthetic biology has to offer.</p>
      </div><!-- End of Shaylyn-->

      <div class="col-lg-4 single-photo">
          <img class="rounded-circle" width="70%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/hj.jpg" aria-label="Team photo">
          <h2>Dr. Hans-Joachim Wieden</h2>
          <h4>Primary PI</h4>
          <p>Lead for BioSciences Entrepreneurship and Industry Partnerships</p>
      </div><!-- End of HJ-->

      <div class="col-lg-4 single-photo">
        <img class="rounded-circle" width="80%" height="50%" src="https://static.igem.wiki/teams/4323/wiki/ned.jpg" aria-label="Team photo">
        <h2>Dr. Nedilijo Budisa</h2>
        <h4>Secondary PI</h4>
        <p>(Tier 1) Canada Research Chair in Synthetic Biology</p>
      </div><!-- End of Ned-->

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</main>

{% endblock %}
